.box1{
    height: 120px;
    background: #b721ff;
}

.box2 {
    background-color: #067F74;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}